html, body {
	background: 0; /* None */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(64, 64, 64);
}
body {
	font-family: 'Source Code Pro','Roboto Mono', monospace;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	background: white;
	line-height: 1.8;
}
h1 {
	font: 1.2em 'Source Code Pro','Roboto Mono', monospace;
	margin-top: 1em;
    	margin-bottom: 2em;
	color: rgb(38, 38, 38);
}
h2 {
	font: 1.8em 'Source Code Pro','Roboto Mono', monospace;
	margin-bottom: .5em;
}
h3 {
	font: 1.0em 'Source Code Pro','Roboto Mono', monospace;
	margin-bottom: .3em;
}
p {
	margin-bottom: 1em;
}
a {
	color: rgb(77, 77, 255);
    	margin-left: -2.5em;
}
a:hover {
	color: rgb(179, 179, 255);
}
ul {
    list-style-type:none
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: 0em;
}
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
/*tab styles*/
aside.languages {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#2e2e2e;
	padding: 25px;
	padding-top: 1em;
	float: right;
	width: 500px;
	margin-left: 1em;
}

.languages h3 {
	font-weight: normal;
	color: white;
	font-size: 1.6em;
	margin-bottom:.5em;
}

#tabContainer h4 {
	color: rgb(83, 104, 138);
	font-size: 2em;
}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}
#tabs ul, #tabs li {
	margin:0;
	padding:0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #CCC;
}

#tabs > ul > li:hover{
	background: white; 
	cursor:pointer;
}

#tabs > ul > .active{
	background: white; /* old browsers */
	cursor:pointer;
}

#containers div {
	background: white;
	padding:10px 10px 25px;
	margin:0;
	color:#333;
}
#tabs a {
	text-decoration: none;
	color: black;
}
